#menu {
  overflow: hidden;
  height: 100%;
  width:100%;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#datechecked{
float: left;
    width: 20%;
    height: 24.7px;
    margin-top: 1%;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 0px;
    margin-left: 0.5%;
}
.selector{
float: left;
    margin-left: 7%;
    background-color: #DEDEDE;
    color: white;
    width: 11%;
    margin-bottom: 21px;
    border-radius: 6%;
    height: 100%;
    cursor: pointer;
}
.click-selector{
background-color: #42ADEF;		
}
.selector:HOVER{
background-color: #42ADEF;	
	
}
#sh_condition{
    float: left;
    width: 100%;
    height: 61.5px;
}
#searchtb{
float: left;
    margin-left: 0.5%;
    margin-top:7px;
    height: 100%;
}
.shbutton{
background-color: #10BDCE;
color: white;
font-size: 12px;
    font-family: 宋体;
    font-weight: bold;
    color: rgb(255, 255, 247);
    width: 58px;
    height: 21px;
    cursor: pointer;
    line-height: 21px;
    text-align: center;
    background: rgb(22, 190, 206);
    border-radius: 2px;
}
.shbutton:HOVER{
	border: 1px solid #a0a0a0;
    background-image: url(../img/1.1-2.png);
    background-repeat: repeat-x;
    font-family: "宋体";
    font-size: 12px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 3px;
    text-align: center;
    vertical-align: middle;
    background: #07a7bf;
}
#searchtb span{
color: black;
font-weight: bold;
}
#lines{
float: left;
width: 100%;
height: 4%;
}
.tbdate{
width: 99.6%;
margin-top:1%;
float:left;
margin-left:0.2%;
border-collapse: collapse;
border-top: none;
border-left: 1px solid #E7E7E7;
}
.tbdate td{
border-bottom: 1px solid #E7E7E7;
border-right: 1px solid #E7E7E7;
border-top:none;
}
#top_tr td{
border-top: none;	
}
.td1{
	width:3%;
}
.td2 .tr_outer{
	width:10%;
}
.td3 .tr_outer{
	width:3%;
}
.td7{
width: 5.35%;	
}
.tbdate thead{
width: 100%;
background-color:#E4F5F8;
color: #088494;
font-weight: bold;
font-size:12px;
font-family: 微软雅黑, 宋体;
}
table  .tr_outer:nth-child(odd){
	background:#F8FBFC;
}
.tbdate thead td:HOVER{
    background: #baeafd; 
}
.tbdate thead td:ACTIVE{
	background-image: url(../img/data_grid_head_active.png);
	background-repeat: repeat-x;
	background-size: 100% 100%;
}
tbody .tr_outer:HOVER{
 	background-image: url(../img/data_grid_body_tr_hover.png);
	background-repeat: repeat-x;
	background-size: 100% 100%;
}
tbody .tr_inner:HOVER{
 	background-image: url(../img/data_grid_body_tr_hover.png);
	background-repeat: repeat-x;
	background-size: 100% 100%;
}
tbody  .tr_linked {
	 cursor: pointer;
}
tbody  .tr_inner{
background-color:white;
}
tbody  .tr_outer{
font-weight: 500;
}
.loadDiv{
		position: fixed;
		width: 100%;
		height: 100%;
		padding-top:20%;
		top:0;
		left:0;
		z-index: 99;
		background-color: rgba(0,0,0,0.1);
		display: none;
	}

.footDiv{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width:100%;
		z-index: 2;
		height: 25px;
		border: 1px solid #cccccc;
		background: #f4f4f4;
	}
	.footDiv ul{
		margin-top: 2px;
		height: 20px;
	}
	.footDiv ul li{
		height: 20px;
		float: left;
	}

.pageTd{
		width:30px;
	}
	.splitLine{
		margin-left: 20px;
	}
	.pageTd img{
		margin-left: 10px;
		width:11px;
		height:11px;
		cursor: pointer;
	}
	.pageTd img:HOVER{
		width:12px;
		height:12px;
	}
	
.icon-org{
font-size: 15px;
color: blue;
font-style: normal;
font-weight: 600;
}
.a-org{
text-decoration: none;	
}
.currentBg{
background-image: url(../img/data_grid_body_tr_hover.png);
background-repeat: repeat-x;
background-size: 100% 100%;	
}
